<div class="flex justify-center">
  <div class="w-full max-w-sm">
    <.live_component module={YtChopDevWeb.YoutubeVideoLive.FormComponent} id="youtube-video-form" />
  </div>
</div>

<div class="h-8"></div>

<.header>
  Latest translations
</.header>

<div class="flex flex-col gap-4" phx-update="stream" id="videos">
  <div
    :for={{dom_id, video} <- @streams.youtube_videos}
    class="grid grid-cols-[8rem,1fr] sm:grid-cols-[12rem,1fr] gap-2"
    id={dom_id}
  >
    <% thumbnail = YoutubeInfoUtils.make_youtube_thumbnail_url(video.video_id) %>
    <div>
      <.link navigate={~p"/v/#{video.video_id}"}>
        <img class="h-full w-full object-cover" src={thumbnail} alt="" />
      </.link>
    </div>
    <div>
      <div class="text-md font-medium pb-3">
        <.link navigate={~p"/v/#{video.video_id}"}>
          {video.title}
        </.link>
      </div>
      <div class="flex flex-wrap gap-2">
        <%= for translate <- video.youtube_video_translates do %>
          <.link
            class="rounded border border-gray-400 px-2 py-1"
            navigate={"/v/#{video.video_id}?language=#{translate.language}&gender=#{translate.gender}"}
          >
            {translate.language} - {translate.gender}
          </.link>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= if @no_more_videos do %>
  <div>
    <p class="py-5 text-center text-stone-500">No more videos</p>
  </div>
<% else %>
  <div class="mt-4 flex justify-center">
    <.button phx-click={JS.push("load_more_videos")}>More</.button>
  </div>
<% end %>

<div class="pt-8 flex items-center justify-center">
  <.link navigate="/jobs" class="text-center">
    <div>Pending Jobs</div>
    <div class="text-2xl font-bold">{length(@jobs)} / 10</div>
  </.link>
</div>
